@charset "UTF-8";

/* Typical Devices Breakpoints 


    tablet: 768px ate 992px
    desktop: 992px ate 1200px
Grandes telas: acima de 1200px */

@media screen and (min-width: 789px) and (max-width: 992px) {
    #login {
        width: 80vw; 
    }

    #formulario {
        float: right;
        width: 70%;
        
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
}

@media screen and (min-width:992px) {
    #login {
        width: 950px; 
    }

    #formulario {
        float: right;
        width: 50%;
        
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
}